<%= setup_context :trail => [[I18n.t("plugins.digital_object_manager.title"), { :controller => :digital_object_manager, :action => :index }]], :title => "Search items for #{params[:q]}" %>

<div class="row">
  <div class="col-md-8">
    <h2><%= I18n.t("plugins.digital_object_manager.title") %></h2>
    <%= render_aspace_partial :partial => "results" %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-8">
    <%= render_aspace_partial :partial => "search_form" %>
  </div>
</div>

<link rel="stylesheet" type="text/css" media="all" href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/digital_object_manager.css" %>"></link>
