<%= setup_context :trail => [[I18n.t("plugins.digital_object_manager.title"), { :controller => :digital_object_manager, :action => :index }]], :title => I18n.t("plugins.digital_object_manager.actions.batch_update") %>

<div class="row">
  <div class="col-md-8">
    <h2><%= I18n.t("plugins.digital_object_manager.title") %></h2>
    <div class="digital-object-manager">
      <h3><%= I18n.t("plugins.digital_object_manager.actions.batch_update") %> Actions</h3>
      <div class="dom-action">
        <% if @actions.length > 0 %>
          <% @actions.each do |action| %>
            <p><%= I18n.t("plugins.digital_object_manager.messages.#{action['action']}") %>: <%= link_to action['title'], {:controller => :resolver, :action => :resolve_readonly, :uri => action['uri']} %></p>
          <% end %>
        <% else %>
          <p>I didn't do anything</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" media="all" href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/digital_object_manager.css" %>"></link>
